.cabecalho-moda {
  background-color: #BB86FC;
}

.cabecalho-casa {
  background-color: #00C4B4;
}

.tabela {
  color: #ffffff;
}

.valores-tabela{
  background-color: #424250;
  text-align: center;
}